<h5 {{action 'changeToEnglish'}}>English</h5>
<h5 {{action 'changeToMartian'}}>Martian</h5>

  {{#each mainHeadlines as |article|}}
    {{#if (eq article.region defaultRegion)}}
      {{top-headline article=article defaultLanguage=defaultLanguage}}
    {{/if}}
  {{/each}}
  {{#each mainHeadlines as |article|}}
    {{#if (not-eq article.region defaultRegion)}}
      <h6>{{article.type}}</h6>
      <h4>{{article.headline}}</h4>
      <h6>{{article.byline}}</h6>
      <p>{{article.text}}</p>
    {{/if}}
  {{/each}}
