<div class="earth">
  {{#if defaultLanguage}}
    <div class="text-align-center">
      <h1 {{action 'switchLanguage'}} class="pointer padding-top padding-bottom theme-font inline-block color-bright-purple text-align-center">- Earth News -</h1>
    </div>
    {{#each mainHeadlines as |article|}}
      {{#if (eq article.region defaultRegion)}}
        {{top-headline article=article defaultLanguage=defaultLanguage}}
      {{/if}}
    {{/each}}
    <h3 class="text-align-center theme-font color-bright-purple margin-top-2x margin-bottom-2x">- Other Top News Stories -</h3>
    <div class="padding-horizontal-5p row">
      {{#each mainHeadlines as |article|}}
        <div class="inline-block columns margin-bottom large-offset-1 medium-offset-1 large-10 medium-10 small-12">
          {{sub-content article=article defaultLanguage=defaultLanguage}}
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
<div class="martian">
  {{#unless defaultLanguage}}
    <div class="text-align-center">
      <h1 {{action 'switchLanguage'}} class="pointer padding-top padding-bottom theme-font inline-block color-bright-purple text-align-center">~ Martian News ~</h1>
    </div>
    {{#each mainHeadlines as |article|}}
      {{#if (eq article.region defaultRegion)}}
        {{top-headline article=article defaultLanguage=defaultLanguage}}
      {{/if}}
    {{/each}}
    <h3 class="text-align-center theme-font color-bright-purple margin-top-2x margin-bottom-2x">
      {{#if defaultLanguage}}
        - Other Top News Stories -
      {{else}}
        {{format-maritian '-Other Top News Stories-'}}
      {{/if}}
    </h3>
    <div class="padding-horizontal-5p row">
      {{#each mainHeadlines as |article|}}
        <div class="inline-block columns margin-bottom large-offset-1 medium-offset-1 large-10 medium-10 small-12">
          {{sub-content article=article defaultLanguage=defaultLanguage}}
        </div>
      {{/each}}
    </div>
  {{/unless}}
</div>