<div class="top-headline">
  <div class="top-headline-background-image" style="background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url({{article.image}}) no-repeat center center fixed; background-size: cover;">
    <div class="headline-details show-for-medium-up">
      <h3 class="headline-font pointer color-white padding-horizontal-5p large-12">
        {{#if defaultLanguage}}
          {{article.headline}}
        {{else}}
          {{format-maritian article.headline}}
        {{/if}}
      </h3>
      <h5 class="padding-horizontal-5p margin-bottom-2x color-white large-12">
        {{#if defaultLanguage}}
          {{article.text}}
        {{else}}
          {{format-maritian article.text 'text'}}
        {{/if}}
      </h5>
    </div>
    <div class="headline-details-small show-for-small-only">
      <h3 class="headline-font color-white padding-horizontal-5p large-12">
        {{#if defaultLanguage}}
          {{article.headline}}
        {{else}}
          {{format-maritian article.headline}}
        {{/if}}
      </h3>
      <h5 class="padding-horizontal-5p margin-bottom-2x color-white large-12">
        {{#if defaultLanguage}}
          {{article.text}}
        {{else}}
          {{format-maritian article.text 'text'}}
        {{/if}}
      </h5>
    </div>
    
  </div>
</div>
